body {
    font-family: "Roboto", sans-serif;
  }
  
  header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #c7c7c7;
    padding: 1rem;
    background-color: #79aee8;
  }
  
  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
  
  section {
    padding: 1rem;
    background-color: #fff;
  }

  @media screen and (min-width: 500px) {
    main {
        grid-template-columns: 1fr 1fr;
    }
    header {
        background-color: black;
        color: white;
    }
  }